/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.navigation-mixin {
  color: #dd3356;
  padding-left: 30px;
  text-decoration: none;
}
.navigation-mixin:hover {
  text-decoration: underline;
}
.bordered {
  border-top: 1px solid #ed7a2d;
  border-bottom: 1px solid #ed7a2d;
  color: #dd3356;
}
h1 {
  font-size: 4rem;
  padding: 40px 0 20px 0;
  font-family: 'Exo', sans-serif;
}
h2 {
  color: #dd3356;
  font-size: 2rem;
  font-family: 'Exo', sans-serif;
  padding: 20px 0;
}
p {
  color: #f2f2f2;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  padding-bottom: 40px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 500px) {
  .container {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .container header {
    width: 100%;
  }
}
.container header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 0;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container header nav a {
  font-size: 1.6rem;
  color: #110e16;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  color: #dd3356;
  padding-left: 30px;
  text-decoration: none;
}
.container header nav a:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .container header nav a {
    padding: 20px 100px;
    border: 1px solid #f2f2f2;
  }
}
.overview {
  background-color: #1F1B28;
  padding: 30px;
  margin: 20px 0;
  border-top: 1px solid #ed7a2d;
  border-bottom: 1px solid #ed7a2d;
  color: #dd3356;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.overview .profile {
  width: 200px;
  height: auto;
}
.overview button {
  background-color: #dd3356;
  font-size: 1.8rem;
  color: #f2f2f2;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  padding: 15px 0px;
  width: 27%;
}
.overview button:hover {
  background-color: #ed7a2d;
  color: white;
  cursor: pointer;
}
.personal-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 500px) {
  .personal-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.personal-profile p {
  color: #110e16;
  line-height: 1.5;
}
.personal-profile .introduction {
  width: 50%;
}
@media (max-width: 500px) {
  .personal-profile .introduction {
    margin: 0 20px 0 20px;
    width: 80%;
  }
}
.personal-profile .skills {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.personal-profile .skills p {
  border-top: 1px solid #f2f2f2;
  padding: 10px 0;
}
@media (max-width: 500px) {
  .personal-profile .skills {
    margin: 0 20px 0 20px;
    width: 80%;
    padding-left: 0;
  }
}
.experience {
  padding: 20px 0;
}
@media (max-width: 500px) {
  .experience {
    margin: 0 20px 0 20px;
    width: 80%;
    padding-left: 0;
  }
}
.experience h2 {
  font-size: 2rem;
  font-family: 'Exo', sans-serif;
  color: #dd3356;
  padding-bottom: 30px;
}
.experience table {
  justify-content: center;
  width: 100%;
  text-align: left;
}
.experience table tr {
  border-top: 1px solid #f2f2f2;
  font-size: 1.6rem;
  padding: 10px;
}
.experience table tr th {
  padding: 20px 0;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  color: #110e16;
}
.experience table tr td {
  padding: 20px 0;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  color: #110e16;
}
@media (max-width: 500px) {
  .contact {
    margin: 0 20px 0 20px;
    width: 80%;
    padding-left: 0;
  }
}
.contact a {
  font-size: 1.6rem;
  color: #dd3356;
  padding-bottom: 10px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.contact p {
  font-size: 1.6rem;
  color: #110e16;
  padding: 10px 0;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
footer p {
  padding: 40px 0;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #1F1B28;
  text-align: center;
}
